footer { 
    color: white;
    justify-content: center;
    
    h2{
        font-size: 1.2em;
        color: #FFAE4F;
        text-decoration: underline;
    }

    ul {
        list-style: none;
        padding: 0;
        li {
            a {
                color: white;
            }
            a:hover {
                color: #E5690E;
            }
        }
    }    

    img {
        padding: 0 0 20px 0;
        width: 238px;
    }

    .contenido {
        padding: 20px 80px 10px 80px;
        margin: 0!important;
        text-align: justify;
    }

}